body {
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

#title {
    color: white;
    background-color: #cd5d7d;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    width: 150px;
}

.nav-link {
    font-family: "Montserrat-Light", sans-serif;
    font-size: 1.2rem;
    font-weight: light;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.Sonnet {
    position: absolute;
    right: 30%;
    width: 50%;
    transform: rotate(30deg)
}

#features {
    position: relative;
    background-color: white;
    padding: 7% 15%;
}

.feature-box {
    margin: auto;
    text-align: center;
    padding: 8%;
}

.fas {
    color: #ef8172;
    margin-bottom: 1rem;
}

.fas:hover {
    color: #ff4c68;
}

.perks {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.perks-2 {
    color: #8f8f8f;
}


/* Testimonial Section */

#testimonials {
    color: white;
    text-align: center;
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

#cta {
    text-align: center;
    color: white;
    background-color: #cd5d7d;
}

.cta-font {
    padding: 2rem;
    font-family: 'Montserrat';
    font-size: 3.5rem;
    font-weight: Bold;
    line-height: 1.5;
}

.cta-button {
    margin: 3rem 1rem;
}

#footer {
    padding-top: 10%;
    text-align: center;
}

.footer-social i {
    text-align: center;
}

.fa-twitter,
.fa-facebook,
.fa-instagram,
.fa-envelope {
    padding: 10px;
}

.footer-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: rgb(218, 218, 218);
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .Sonnet {
        position: static;
        transform: rotate(0);
    }
}